<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table">
        <thead>
        <tr>
          <th>Program ID</th>
          <th>Actions</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let program of programs">
          <td>
            <a [routerLink]="['/programs', program._id]">
              {{program._id}}
            </a>
          </td>
          <td>
            <input type="checkbox"
                    id="{{program._id}}"
                    (change)="markAsDone(program._id, true)"/>
          </td>
          <!-- <td><button (click)="deleteProgram()" class="btn btn-danger">Slet Program</button></td> -->
        </tr>
        </tbody>
      </table>

      <button (click)="createProgram()" class="btn btn-default" type="submit">Create a new training program</button>
    </div>
  </div>
</div>
