extends ../layout.pug

block append content
  .row
    .col-xs-12
      table.table
        thead
          tr
            th Øvelse
            th Beskrivelse
            th Set
            th Gentagelser/tid
            th Gennemført?
            th Slet
        tbody
          if exercises.length == 0
            tr
              td(colspan='4') Der er ingen øvelser.

          each exercise in exercises
            tr
              td= exercise.name
              td= exercise.description
              td= exercise.sets
              td= exercise.repetition
              td
                if exercise.done
                  i.fa.fa-check
                else
                  i.fa.fa-times
                  = ' - '
                  a.btn.btn-default(href='/program/' + program._id + '/exercise/' + exercise._id + '/markAsDone') Gennemfør
              td
                form(action='/program/' + program._id + '/exercise/' + exercise._id + '/delete' method='post')
                  button.btn.btn-danger(type='submit')
                    i.fa.fa-trash
                    = ' Slet'

  .row
    .col-xs-6
      h4 Tilføj øvelse
      form(action=('/program/' + program._id + '/exercise/new') method='post')
        .form-group
          input.form-control(type='text' name='name' placeholder='Øvelse')
        .form-group
          input.form-control(type='text' name='description' placeholder='Beskrivelse')
        .form-group
          input.form-control(type='text' name='sets' placeholder='Set')
        .form-group
          input.form-control(type='text' name='repetition' placeholder='Gentagelser/tid')
        input.btn.btn-primary(type='submit' value='Tilføj øvelse')
