extends ../layout.pug

block append content
  table.table
    thead
      tr
        th Øvelse
        th Beskrivelse
        th Set
        th Gentagelser/tid
    tbody
      if exercises.length == 0
        tr
          td(colspan='4') Der er ingen øvelser.
      each exercise in exercises
        tr
          td= exercise.name
          td= exercise.description
          td= exercise.sets
          td= exercise.repetition

  form(action='/program' method='post')
    input(type='text' name='name' placeholder='Øvelse')
    input(type='text' name='description' placeholder='Beskrivelse')
    input(type='text' name='sets' placeholder='Set')
    input(type='text' name='repetition' placeholder='Gentagelser/tid')
    input(type='submit' value='Tilføj øvelse')
