extends layout.pug

block append content
  .row
    table.table
      thead
        tr
          th Test
          th
          th
      tbody
        each program in programs
          tr
            td= program._id
            td
              a(href='program/' + program._id) Vis program
            td
              a(href='program/' + program._id + '/delete') Slet program

    form(action='/program' method='post')
    input.btn.btn-default(type='submit' value='Create a new traning program')
