extends layout.pug

block append content
  .row
    table.table
      thead
        tr
          th Program id
          th Gennemført?
          th
          th
      tbody
        each program in programs
          tr
            td
              a(href='program/' + program._id)= program._id
            td
              if program.done
                i.fa.fa-check
              else
                i.fa.fa-times
                = ' - '
                a.btn.btn-default(href='/program/' + program._id + '/markAsDone') Gennemfør
            td
              form(action='program/' + program._id + '/delete' method='post')
                button.btn.btn-danger(type='submit')
                  i.fa.fa-trash
                  = ' Slet program'

    form(action='/program' method='post')
      input.btn.btn-default(type='submit' value='Create a new traning program')
